<!DOCTYPE html>
<html lang="en" style="width:100%; height:100%; margin:0px">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>${title}</title>
    <style>.err{color:#000000;background:#ffffff;max-width:760px;padding:20px;margin:20px;border:1px solid #000000;}</style>
    <script>
        function javascriptError() {
            document.getElementById("outGameCanvas").hidden = true;
            document.getElementById("errorDiv").hidden = false;
            document.getElementById("errorDiv").innerHTML = "${title} - ${description}<p/>${javascriptErrorMessage}";
        }
        window.onerror = function () {
            window.setTimeout(javascriptError, 1000);
        }
        window.gameId = "${gameId}";
    </script>
    <script src="game.js"></script>
</head>

<body style="width:100%; height:100%; margin:0px">
    <canvas id="outGameCanvas" hidden style="background:#000000; position:fixed; top:0; left:0;
    height:100%; width:100%">${description}.</canvas><br />

    <div id="errorDiv" hidden class="err">
    </div>
    <noscript>
        <div class="err">${title} - ${description}<p/>${javascriptOffMessage}</div>
    </noscript>
</body>

</html>